<!DOCTYPE>
<html>
    <head>
        <title>signup</title>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
        <style>
            .ext {
                    
                   text-align: center;
                   padding-left: 350px;

            }
            .btn {
                border-radius: 150px;
                width: 200px;
                height: 1cm;
                border: 2px;
                font-size: 20px;
                font-family: 'Balsamiq Sans', cursive;
                text-align: center;
                background-color: khaki;
            }
            .internal {
                border: 2px;
                font-family: 'Balsamiq Sans', cursive;
                background-color: cyan;
                zoom: 100%;
            
                padding-bottom: 20;
                padding-top: 10;
                height: 1cm;
                font-size: 40px;
                max-width: 60vw;
                border-radius: 250px;
                padding-right: 20;
                padding-left: 20;
                width: 600px;
            }
            .hg {
                color: darkolivegreen;
                font-size: x-large;
                border-radius: 100px;
                text-align: center;
               
                font-family: 'Balsamiq Sans', cursive;
                
            }
            .h3 {
                padding-top: 20;
                padding-left: 350;
                
            }
            .kk {
               text-align: center;
               
            }
            body
            {
                font-family: 'Balsamiq Sans', cursive;
                text-align: center;
                background-color: rosybrown;
            }
            h1{
                font-size: 50px;
                color: #000000;
                font-stretch: wider;
                font-family: 'Balsamiq Sans', cursive;
            }
           
        </style>
    </head>
    <body  >
        <br>
        <h1 style="text-align: center;"><u>Sign-up</u></h1>
       
        
        <form   method="POST" action="/update/<%=data._id%>">
            <div class="ext">
            <div id="uid" class="internal">
               
              USERNAME  :   <input type="text" id="uid" class="hg" name="uid" value="<%=data.USERNAME %>" placeholder="abc">
                </div>
        <br>
       
            <div id="uid" class="internal">
               
                E-mail   :  <input type="email" id="mail" name="mail" class="hg"  value="<%=data.EMAIL %>" placeholder="abc@gmail.com">
                </div>
                <br>
                <div id="uid" class="internal">
               
                    Mob no.   :  <input type="text" id="num" name="num" class="hg" value="<%=data.PHONENUM %>" placeholder="123">
                    </div>
                    <br>
                </div>
                        <button type="submit" class="btn" value="sub" name="sub">UPDATE</button>
                 
   
   </form>
    </body>
</html>